* {
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  --hue: var(--hue-neutral);
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.container {
  margin-top: 5rem;
}
#quiz {
  text-align: center;
  justify-content: center;
  height: 20rem;
  width: 80rem;
}
#quizEl {
  justify-content: center;
}
#highscores {
  text-align: center;
  justify-content: center;
}
#timer {
  text-align: center;
  justify-content: center;
}

.questions {
  text-align: center;
}
#question {
  font-size: larger;
  font-weight: bold;
}
.choices {
  justify-content: center;
  text-align: center;
  padding-top: 1.5rem;
}
.choice {
  background-color: gray;
}
.choice:hover {
  cursor: pointer;
  background-color: lightsteelblue;
}
/*Style for Buttons*/
#startBtn:hover {
  cursor: pointer;
  background-color: lightsteelblue;
}
.highscoresBtn:hover {
  cursor: pointer;
  background-color: lightsteelblue;
}
