* {
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
}

body {
  --hue: var(--hue-neutral);
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../images/bgimage.jpeg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.container {
  margin-top: 8rem;
}

#quiz {
  text-align: center;
  justify-content: center;
  height: 20rem;
  width: 80rem;
  background: url("../images/quizimage.jpeg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

#highscoresCol {
  text-align: center;
  justify-content: center;
}
#timer,
#highscoresCol,
#highscoresText {
  text-align: center;
  justify-content: center;
  background: url("../images/quizimage.jpeg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.questions {
  text-align: center;
}
#question {
  font-size: larger;
  font-weight: bold;
}
.choices {
  justify-content: center;
  text-align: center;
  padding-top: 1.5rem;
}
.choice {
  background-color: burlywood;
  margin-top: 15px;
}

/*Style for Buttons*/
#startBtn:hover,
#submit-btn:hover,
.highscoresBtn:hover,
#clearHighScores:hover,
.choice:hover {
  cursor: pointer;
  background-color: lightsteelblue;
  color: black;
}
